p {
    padding-top: 15px;
}

a {
    font-size: 16px;
    color: #C12258;
    text-decoration:wavy underline;
}

*:focus {
    border: 6px dashed #417243;
    outline: none;
}

h1 {
    text-align: center;
    line-height: 2;
    font-family: "Syncopate", sans-serif;
}

body {
    background-image: url(../images/pigeon-background.jpg);
    background-color: #DDDDDD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

td {
    text-align: center;
    border-bottom: 2px black solid;
    padding: 10px;
}

thead th {
    min-width: 125px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #7e0820;
    text-align: center;
}

tbody > tr [scope="row"] {
    border-right: 2px black solid;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

tr:nth-child(even) {
    background-color: #D1D1D1;
}

tr:hover {
    background-color: #7e0820;
    opacity: .25;
}

table {
    border-spacing: 0px;
    border-right: 2px black solid;
    margin: auto;
}

table:first-child {
    border-radius: 20px;
}

